body{
  margin-left:0;
  background-color: #e6e6e6;
}
h1.title {
  color: #d54d7b;
  font-family: "Courier New", cursive;
  font-size: 100px;
  line-height: 120px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 40px;
  text-shadow: 0 1px 1px #fff;

}
/* ALL CSS INCLUDING REVIEW */
div.review {
	width:50%;
	margin:0 15px 15px 15px;
	border:5px solid #3399ff;
  background-color: #bfbfbf;
	border-radius: 5px;
	display: inline-block;
}
div.reviewheader{
	border-bottom: 2px solid #ff66cc;
}
span.review1 {
	padding:50px;
	border:5px solid #3399ff;
  background-color: #b3b3cc;
	border-radius: 5px;
}
h1.review {
	margin: 10px 0 10px 10px;
	width: fit-content;
	display:inline
}
span.review {
	float:right;
	margin:0 5px 5px 0;
}
span.comment {
	padding:20px;
	/*margin: 5px;*/
	/*border: solid red;*/
	border-radius: 5px;
}
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #3399ff;
	margin-top: 20px;
  margin-left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
/* CSS INLCUDING SHOPPING ITEM */
div.shopitem {
  border: 5px solid #3399ff;
  height: 200px;
  width: 700px;
  margin-bottom: 10px;
  margin-left: 8px;
  text-align: center;
  border-radius: 5px;
  background-color: #b3b3cc;
}
div.form {
  float:right;
  display: inline-block;
}
form.item {
  /*margin-left:80%;
  margin-top: 20%;*/
  margin-right: 5px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: lightblue;
}
button[type=submit] {
  background-color: #3399ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  display: block;
  border-radius: 5px;
}
.checkoutbtn {
  width: 90%!important;
  margin-left: 5%!important;
}
button[type=add] {
  background-color: #3399ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button[type=remove] {
  background-color: #3399ff;
  color: white;
  padding: 14px 20px;
  margin-left:20%;
  margin-top: 3%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 60%;
}
button[disabled] {
  background-color: #cccccc;
  cursor: default;
  color: #666666;
}
select {
  width: 40px;
  padding: 13px 0px 13px 4px;
  border: none;
  border-radius: 4px;
  background-color: #3399ff;
  color:white;
}

div.login {
  padding: 16px;
}

form.login {
  margin: auto;
  margin-top: 300px;
  text-align: center;
  border: 3px solid #f1f1f1;
  width: 40%;
  background-color: white;
  border-radius: 10px;
}
table {
  border-collapse: collapse;
  width: 95%;
  margin:auto;
}

th, td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
  font-size: 1.4em;
}

tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #3399ff;
    color: white;
}
textarea.review {
		width: 100%; /* Full width */
		padding: 12px; /* Some padding */
		border: 1px solid #ccc; /* Gray border */
		border-radius: 4px; /* Rounded borders */
		box-sizing: border-box; /* Make sure that padding and width stays in place */
		margin-top: 6px; /* Add a top margin */
		margin-bottom: 16px; /* Bottom margin */
		resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
