/*div {

}*/
div.shopitem {
  border: 1px solid blue;
  height: 200px;
  width: 40%;
  margin-bottom: 10px;
  text-align: center;
}
div.form {
  float:right;
  display: inline-block;
}
form.item {
  /*margin-left:80%;
  margin-top: 20%;*/
}
select {
  width:40px;
}

div.login {
  border: 5px solid;
  width: 40%;
  margin-top: 20%;
  margin-left: 25%;
  text-align: center;
  border-radius: 5px;
}

form.login {
  margin: 10px auto auto auto;
}
